.imagecontainer {
        position: relative;
        height: 700px;
    }


  .bottomright {
        width: 600px;
        height: auto;
        background-color: white;
        position: absolute;
        top: 200px;
        right: 100px;
        font-size: 18px;
        margin-bottom: 10px;
        overflow-x: show;
    }

    
    .margintext {
        margin-top: 60px;
        margin-right: 70px;
        margin-bottom: 80px;
        margin-left: 70px;
    }

     .andhra {
        height: 330px;
        width: 100%;
    }

.component4
{
    margin-top:80px;
}
