.imgwidth {
        width: 100%;
    }
.margintb
{
    margin-top:15px;
}

    .bgrey {
        background-color: #cccccc;
    }

.component5
{
    margin-top:50px;
}

.component51
{
    margin-top:80px;

}